#clockContainer{
    position: relative;
    margin: auto;
    /* border: 2px solid red; */
    height: 60vh;
    width: 60vh;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    background-color:black ;
    width: 1%;
    height: 28%;
    right: 49.5%;
    top: 23%;
}

#minute{
    background-color:black;
    width: 1%;
    height: 36%;
    right: 49.5%;
    top: 14%;
}
#second{
    background-color:black ;
    width: 1%;
    height: 40%;
    right: 49.5%;
    top: 10%;
}
